**__pycache__**
**build**
**egg-info**
# **dist**
data/
docs
*.pyc
venv/
*.idea/
*.so
*.pth
*.pkl
*.zip
*.bin
.history
.github
.pytest_cache
.vscode
output
version.py
scatter.py
test_spconv.py
**/spconv_backbone_sed.py
**/scatterformerv2.py
**/scatterformerv3.py
**/scatterformerv2.yaml
**/scatterformerv3.yaml
**/hednet.yaml